#### Assessment of Data Quality using Python

In [88]:
#downloading the 3 json files detailing information about users, brands and receipts

users="C:/Users/Supriya Saxena/Downloads/users.json.gz"
brands="C:/Users/Supriya Saxena/Downloads/brands.json.gz"
receipts="C:/Users/Supriya Saxena/Downloads/receipts.json.gz"

In [89]:
#importing necessary libraries
import pandas as pd
import numpy as np

#### Assessing Data Quality of the receipts dataset

In [90]:
#Convert a JSON string to pandas object.

df_receipts = pd.read_json(receipts, lines=True)

In [91]:
#exploring the data
df_receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [92]:
df_receipts.dtypes

_id                         object
bonusPointsEarned          float64
bonusPointsEarnedReason     object
createDate                  object
dateScanned                 object
finishedDate                object
modifyDate                  object
pointsAwardedDate           object
pointsEarned               float64
purchaseDate                object
purchasedItemCount         float64
rewardsReceiptItemList      object
rewardsReceiptStatus        object
totalSpent                 float64
userId                      object
dtype: object

In [93]:
#checking for null values

df_receipts.isnull().sum(axis = 1) 

df_receipts.isnull().sum(axis = 0) 

#there are a large number of null values in the dataset

_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

In [94]:
# checking for blank values
np.where(df_receipts.applymap(lambda x: x == ''))

# there are no empty/blank values in the dataset

(array([], dtype=int64), array([], dtype=int64))

In [95]:
#checking size of the current data
df_receipts.shape

##consists of 1119 rows and 15 columns

(1119, 15)

In [96]:
# checking for data consistency
df_receipts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: float64(4), object(11)
memory usage: 131.3+ KB

In [97]:
#checking some descriptive statistics for numeric columns
df_receipts.describe()

       bonusPointsEarned  pointsEarned  purchasedItemCount   totalSpent
count         544.000000    609.000000           635.00000   684.000000
mean          238.893382    585.962890            14.75748    77.796857
std           299.091731   1357.166947            61.13424   347.110349
min             5.000000      0.000000             0.00000     0.000000
25%             5.000000      5.000000             1.00000     1.000000
50%            45.000000    150.000000             2.00000    18.200000
75%           500.000000    750.000000             5.00000    34.960000
max           750.000000  10199.800000           689.00000  4721.950000

#### Data Quality issues and cleaning

#### Data formatting issues

##### > *  _id,createDate, dateScanned, finishedDate , modifyDate, pointsAwardedDate, purchaseDate, rewardsReceiptItemList are all JSON object literals that need to be converted to string literals for data cleaning (formatting issues)
##### > * All dates have been recorded as UNIX time format so they need to be converted to pandas datetime data type

#### Data inconsistency, structure, accesiility and readability issues
##### > * The column rewardsReceiptItemList can be seen as a list of dictionaries in every row so some relevant key,value pairs need to extracted out

##### > *  In the column rewardsReceiptItemList, different rows contain different number of dictionaries, containing different key-value pairs leading to data inconsistency (accessibility and readability issues)

#### Incomplete data
##### > *  A lot of columns and rows in this dataset contain null values, which leads to incomplete fields. Dropping these rows can lead to significant loss of information and data.

#### Data duplication and big size
##### > * Since, each receipt has multiple items and information about item list is in the field rewardsReceiptItemList, to get receipt level data,information would need to be extracted from each dictionary, exploding the data in size and also cause duplication at the receipt level (data storage structural problems and size issues)

In [98]:
#since a lot of columns have the json structure in the columns, those columns that need cleaning up need to converted 
#from json literals to string literals for ease of data cleaning

df_receipts['_id'] = df_receipts['_id'].astype('str') 
df_receipts['createDate'] = df_receipts['createDate'].astype('str') 
df_receipts['dateScanned'] = df_receipts['dateScanned'].astype('str') 
df_receipts['finishedDate'] = df_receipts['finishedDate'].astype('str') 
df_receipts['modifyDate'] = df_receipts['modifyDate'].astype('str') 
df_receipts['pointsAwardedDate'] = df_receipts['pointsAwardedDate'].astype('str') 
df_receipts['purchaseDate'] = df_receipts['purchaseDate'].astype('str')

In [99]:
#cleaning the above columns using strip in built function that can be applied on strings
df_receipts['_id'] = df_receipts['_id'].str.strip('{}')
df_receipts['createDate']=df_receipts['createDate'].str.strip('{}')

df_receipts['dateScanned']=df_receipts['dateScanned'].str.strip('{}')
df_receipts['finishedDate']=df_receipts['finishedDate'].str.strip('{}')
df_receipts['modifyDate']=df_receipts['modifyDate'].str.strip('{}')
df_receipts['pointsAwardedDate']=df_receipts['pointsAwardedDate'].str.strip('{}')
df_receipts['purchaseDate']=df_receipts['purchaseDate'].str.strip('{}')

#further cleaning using string splicing
df_receipts['_id']=df_receipts['_id'].str[:-1]
df_receipts['createDate'] = df_receipts['createDate'].str[9:]

df_receipts['dateScanned'] = df_receipts['dateScanned'].str[9:]
df_receipts['finishedDate'] = df_receipts['finishedDate'].str[9:]
df_receipts['modifyDate'] = df_receipts['modifyDate'].str[9:]
df_receipts['pointsAwardedDate'] = df_receipts['pointsAwardedDate'].str[9:]
df_receipts['purchaseDate'] = df_receipts['purchaseDate'].str[9:]
df_receipts['_id']=df_receipts['_id'].str[9:]

In [100]:
#changing the UNIX format of dates to pandas datetime readable format

df_receipts['createDate']=pd.to_datetime(df_receipts['createDate'], unit='ms')
df_receipts['dateScanned']=pd.to_datetime(df_receipts['dateScanned'], unit='ms')
df_receipts['finishedDate']=pd.to_datetime(df_receipts['finishedDate'], unit='ms')
df_receipts['modifyDate']=pd.to_datetime(df_receipts['modifyDate'], unit='ms')
df_receipts['purchaseDate']=pd.to_datetime(df_receipts['purchaseDate'], unit='ms')
df_receipts['pointsAwardedDate']=pd.to_datetime(df_receipts['pointsAwardedDate'], unit='ms')

In [101]:
# on careful inspection of the rewardsReceiptItemList, explode function can be used to easily access receipt level properties 
#as well as extract key-value pairs that can help link this database to other databases
#for this explode() function is used to transform each element of a list-like to a row, replicating the index values. This is used on 
#rewardsReceiptItemList

df_receipts = df_receipts.explode('rewardsReceiptItemList')

#as mentioned before, the 'exploding' the rewardsReceiptItemList exponentially increases the data size from 1119 rows to 7381 rows (almost 7 times)
#it also introduces redundancy in data with duplicate receipt ids

In [102]:
#resetting index for the dataset
df_receipts=df_receipts.reset_index()

In [103]:
#extracting relevant key value pairs and putting them in a list especially for item barcode, userflaggedbarcode,
#item description and brand code to get better insights about the data, ease of readability and making it suitable to be 
#linked to other tables like brand dataset

list_barcodes=[]
list_desc=[]
list_user_barcode=[]

for i in range (0, len(df_receipts)):
    key1='barcode'
    key2='userFlaggedBarcode'
    key3='description'
    if key1 in str(df_receipts['rewardsReceiptItemList'][i]):
        x=df_receipts['rewardsReceiptItemList'][i]['barcode']
    else:
        x='Not Available'
    list_barcodes.append(x)
    if key2 in str(df_receipts['rewardsReceiptItemList'][i]):
        y=df_receipts['rewardsReceiptItemList'][i]['userFlaggedBarcode']
    else:
        y='Not Available'
    list_user_barcode.append(y)
    
    if key3 in str(df_receipts['rewardsReceiptItemList'][i]):
        z=df_receipts['rewardsReceiptItemList'][i]['description']
    else:
        z='Not Available'
    list_desc.append(z)

In [104]:
list_brandcode=[]
for i in range (0, len(df_receipts)):
    key4='brandCode'
    if key4 in str(df_receipts['rewardsReceiptItemList'][i]):
        code=df_receipts['rewardsReceiptItemList'][i]['brandCode']
    else:
        code='Not Available'
    list_brandcode.append(code)

In [105]:
reward_partner_id=[]
for i in range (0, len(df_receipts)):
    key6='rewardsProductPartnerId'
    if key6 in str(df_receipts['rewardsReceiptItemList'][i]):
        r_code=df_receipts['rewardsReceiptItemList'][i]['rewardsProductPartnerId']
    else:
        r_code='None'
    reward_partner_id.append(r_code)

In [108]:
list_rewards_group=[]
for i in range (0, len(df_receipts)):
    key5='rewardsGroup'
    if key5 in str(df_receipts['rewardsReceiptItemList'][i]):
        code=df_receipts['rewardsReceiptItemList'][i]['rewardsGroup']
    else:
        code='None'
    list_rewards_group.append(code)

In [106]:
points_payer_id=[]
for i in range (0, len(df_receipts)):
    key7='pointsPayerId'
    if key7 in str(df_receipts['rewardsReceiptItemList'][i]):
        pp_code=df_receipts['rewardsReceiptItemList'][i]['pointsPayerId']
    else:
        pp_code='None'
    points_payer_id.append(pp_code)

In [109]:
## making a dataframe of the above lists

barcode_df = pd.DataFrame(
    {'Product_barcode': list_barcodes,
     'user_barcodes': list_user_barcode,
     'Description': list_desc,
     'Brand_code':list_brandcode,
     'rewards_code': list_rewards_group,
     'reward_partner_id':reward_partner_id,
     'points_payer_id': points_payer_id
     
    })
#concatenating the above created dataframe to existing dataframe

df_receipts_new= pd.concat([df_receipts, barcode_df], axis=1)

In [110]:
df_receipts_new=df_receipts_new.replace('Not Available',np.nan)

In [111]:
df_receipts_new

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptStatus,totalSpent,userId,Product_barcode,user_barcodes,Description,Brand_code,rewards_code,reward_partner_id,points_payer_id
0,0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31.000,2021-01-03 15:25:31.000,2021-01-03 15:25:31,2021-01-03 15:25:36.000,2021-01-03 15:25:31,500.0,...,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,4011,4011,ITEM NOT FOUND,NaN,None,None,None
1,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43.000,2021-01-03 15:24:43.000,2021-01-03 15:24:43,2021-01-03 15:24:48.000,2021-01-03 15:24:43,150.0,...,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,4011,NaN,ITEM NOT FOUND,NaN,None,None,None
2,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43.000,2021-01-03 15:24:43.000,2021-01-03 15:24:43,2021-01-03 15:24:48.000,2021-01-03 15:24:43,150.0,...,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,028400642255,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,NaN,DORITOS SPICY SWEET CHILI SINGLE SERVE,5332f5fbe4b03c9a25efd0ba,5332f5fbe4b03c9a25efd0ba
3,2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37.000,2021-01-03 15:25:37.000,NaT,2021-01-03 15:25:42.000,NaT,5.0,...,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,NaN,4011,NaN,NaN,None,None,None
4,3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34.000,2021-01-03 15:25:34.000,2021-01-03 15:25:34,2021-01-03 15:25:39.000,2021-01-03 15:25:34,5.0,...,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,4011,4011,ITEM NOT FOUND,NaN,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,1115,603d0b710a720fde1000042a,NaN,NaN,2021-03-01 15:42:41.873,2021-03-01 15:42:41.873,NaT,2021-03-01 15:42:41.873,NaT,NaN,...,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,None,None,None
7377,1116,603cf5290a720fde10000413,NaN,NaN,2021-03-01 14:07:37.664,2021-03-01 14:07:37.664,NaT,2021-03-01 14:07:37.664,NaT,NaN,...,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,None,None,None
7378,1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 13:07:28.000,2021-03-01 13:07:28.000,NaT,2021-03-01 13:07:29.000,NaT,25.0,...,REJECTED,34.96,5fc961c3b8cfca11a077dd33,B076FJ92M4,NaN,mueller austria hypergrind precision electric ...,NaN,None,None,None
7379,1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 13:07:28.000,2021-03-01 13:07:28.000,NaT,2021-03-01 13:07:29.000,NaT,25.0,...,REJECTED,34.96,5fc961c3b8cfca11a077dd33,B07BRRLSVC,NaN,thindust summer face mask - sun protection nec...,NaN,None,None,None
7380,1118,603c4fea0a7217c72c000389,NaN,NaN,2021-03-01 02:22:34.962,2021-03-01 02:22:34.962,NaT,2021-03-01 02:22:34.962,NaT,NaN,...,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,None,None,None

In [70]:
#saving the above dataframe as a csv
df_receipts_new.to_csv("new_new_receipts.csv")